<section ng-controller="EventCreateController as eventCtrl" xmlns="http://www.w3.org/1999/html">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Preview:</h3>
            <div class="card" style="width: 18rem;">
                <div ng-style="{'background-color': navCtrl.findCateColor(eventCtrl.event.cate).color}"> <br/></div>
                <div class="card-body">
                    <h5 class="card-title">Name:{{eventCtrl.event.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Category: {{eventCtrl.event.cate}}</h6>
                    <p class="card-text">Deadline: {{eventCtrl.event.deadline}}</p>
                    <p class="card-text">Description: {{eventCtrl.event.description}}</p>
                    <button class="btn btn-primary">Complete</button>
                    <button class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form  ng-submit="eventCtrl.addEvent()" novalidate>

                <div class="form-group">
                    <label for="name" class="col-sm-2 col-form-label">Event</label>
                    <div class="col-sm-10">
                        <input ng-model="eventCtrl.event.name" type="text" class="form-control" id="name" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                    <div class="col-sm-10">
                        <input ng-model="eventCtrl.event.deadline" type="date" class="form-control" id="deadline" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cate" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select ng-model="eventCtrl.event.cate" id="cate" class="form-control" required>
                            <option ng-repeat="cate in navCtrl.cateColors">{{cate.name}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea ng-model="eventCtrl.event.description" id="description" class="form-control" rows="5" placeholder="Description for your event..." required></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark" value="submit" ng-click="navCtrl.setTab(1);">create</button>
                <button class="btn btn-dark" value="Reset" ng-click="eventCtrl.event = {};">Reset</button>
            </form>
        </div>


    </div>
</section>